<nav class="navbar is-transparent">
  <div class="navbar-brand">
    <%= link_to "ChefRecept", root_path, class: "navbar-item", id: "logo" %>
    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

<div id="navbarExampleTransparentExample" class="navbar-menu">
  <div class="navbar-start">
    <%= link_to "Chefs", chefs_path, class: "navbar-item" %>
    <div class="navbar-item has-dropdown is-hoverable">
      <%= link_to "Recepten", recipes_path, class:"navbar-link" %>
      <div class="navbar-dropdown is-boxed">
        <% if logged_in? %>
          <%= link_to "Recept toevoegen", new_recipe_path, class:"navbar-item" %>
          <hr class="navbar-divider">
        <% end %>
        <%= link_to "Alle recepten", recipes_path, class:"navbar-item is-active" %>
      </div>
    </div>
  </div>



  <div class="navbar-end">
    <% if logged_in? %>
      <div class="navbar-item has-dropdown is-hoverable">
        <% profile1 = 'Chef ' + current_chef.chefname.capitalize %>
        <%= link_to profile1, chef_path(current_chef), class:"navbar-link" %>
        <div class="navbar-dropdown is-boxed">
          <%= link_to "Bekijk account", chef_path(current_chef), class:"navbar-item" %>
          <%= link_to "Bewerk account", edit_chef_path(current_chef), class:"navbar-item" %>
          <hr class="navbar-divider">
          <%= link_to "Alle recepten", recipes_path, class:"navbar-item is-active" %>
        </div>
      </div>
      <%= link_to 'Log out', logout_path, method: :delete , class: "navbar-item"%>
    <% else %>
      <%= link_to "Registreren", signup_path, class: "navbar-item" %>
      <%= link_to "Inloggen", login_path, class: "navbar-item" %>
    <% end %>
  </div>

</nav>
